.forgot-password-page {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.forgot-password-container {
    padding: 6rem 4rem;
    width: fit-content;
    box-shadow: 2px 4px 16px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.email-input {
    width: 88%;
}

.submit-button {
    width: 100%;
}

.email-input-icon {
    margin: 1rem 0.2rem 0 0;
    font-size: 1.8rem !important;
    color: #8b8b8b;
}

.back-to-login {
    display:flex;
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    .forgot-password-container{
        font-size: small;
    }

    .email-input {
        width: 84%;
    }

    .forgot-password-container {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        margin: auto;
        padding: 4rem 2rem;
    }
}

@media screen and (min-width: 420px) {
    .forgot-password-container{
        font-size: small;
    }

    .email-input {
        width: 84%;
    }

    .forgot-password-container {
        padding: 2rem 4rem;
    }
}

@media screen and (min-width: 640px) {
    .forgot-password-container {
        padding: 4rem 5rem;
    }
}

@media screen and (min-width: 795px) {
    .forgot-password-container {
        padding: 4rem 8rem;
    }
}

@media screen and (min-width: 1080px) {
    .forgot-password-container {
        padding: 5rem 10rem;
    }

}

@media screen and (min-width: 1536px) {
    .forgot-password-container {
        padding: 6rem 12rem;
    }

}